<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{versions.[0]}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#each versions}}
            <a class="dropdown-item" href="#pipelines/{{../pipeline}}/{{this}}">{{this}}</a>
        {{/each}}
    </div>
</div>